<h1 class="heading"><strong>HTTP </strong>Brand</h1>

<div class="form-group">
  <button type="button" (click)="GetAsync()">Get Brands</button>
</div>

<div *ngIf="loading">loading...</div>

<div *ngIf="errorMessage" class="alert alert-warning">
  <strong>Warning!</strong> {{errorMessage | json}}
</div>


<table class='table'>
  <thead>
    <tr>
      <th>brandId</th>
      <th>brandName</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let brand of brands;">
      <td>{{brand.brandId}}</td>
      <td>{{brand.brandName}}</td>
    </tr>
  </tbody>
</table>
