<h1 class="heading"><strong>HTTP </strong>Demo</h1>

<!--<div class="form-group">
  <label for="ipAddress">Ip Address</label>
  <input type="text" class="form-control" name="ipAddress" [(ngModel)]="ipAddress">
</div>-->

<div class="form-group">
  <button type="button" (click)="GetBrands()">Get Brands</button>
</div>

<div *ngIf="loading">loading...</div>

<div *ngIf="errorMessage" class="alert alert-warning">
  <strong>Warning!</strong> {{errorMessage | json}}
</div>


<table class='table'>
  <thead>
    <tr>
      <th>brandId</th>
      <th>brandName</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let brand of brands;">
      <td>{{brand.BrandId}}</td>
      <td>{{brand.BrandName}}</td>
    </tr>
  </tbody>
</table>

<pre>{{brands | json}}</pre>
