<h1 class="heading"><strong>HTTP </strong>Orders</h1>
<div>
  <button mat-raised-button color="primary" class="button" [routerLink]="['new']">Create new Order</button>
</div>

<div *ngIf="loading">loading...</div>

<div *ngIf="errorMessage" class="alert alert-warning">
  <strong>Warning!</strong> {{errorMessage | json}}
</div>

<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Write Here" #input>
</mat-form-field>

<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="orderId">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Order Number </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.orderId}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="customerName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.customerName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="orderStatus">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Order Status </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.orderStatus}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="orderDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Order Date </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.orderDate | date:'longDate'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="requiredDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Required Date </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.requiredDate | date:'longDate'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="shippedDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header> shippedDate </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.shippedDate  | date:'longDate'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="storeName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> storeName </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.storeName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="staffName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Staff Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.staffName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" type="button" [routerLink]="['show',element.productId]">Show</button>
      <button mat-raised-button color="accent" type="button" [routerLink]="['edit',element.productId]">Edit</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns"
           (click)="onRowClicked(row)">
  </mat-row>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</mat-table>

<mat-paginator [pageSizeOptions]="pageSizeOptions">
</mat-paginator>
